<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lista de autores</title>
  </head>
  <body>
    <h1>Autores Registrados</h1>
    <table border="1">
      <thead>
        <th>ID</th>
        <th>Nombres</th>
        <th>Nacionalidad</th>
        <th>Accion</th>
      </thead>
      <tbody>
        {% for a in autores  %}
          <tr>
            <td>{{a.id}}</td>
            <td>{{a.nombre}}</td>
            <td>{{a.nacionalidad}}</td>
            <td><a href="{% url 'biblioteca_app:lista-libros' a.id %}">VER LIBROS</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
